html {
    font-size: $font-size-base;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.15rem;
}

body {
    font-family: $font-family-base;
    background: $theme-background;
    font-weight: 400;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    margin: auto;
}
