/*=========================================================================================
    File Name: _footer.scss
    Description: Footer styles
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

.footer-sticky {
    .footer {
        position: fixed;
        background: $white;
        bottom: 0;
        width: 100%;
        box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.05);
        z-index: 40000;
        text-align: center;
    }

    .router-view {
        padding-bottom: 2.5rem;
    }
}

.footer-hidden {
    .footer {
        display: none;
    }
}

.footer {
    padding: 0.1rem 5rem;
}
