/*=========================================================================================
    File Name: _themeDark.scss
    Description: partial- Styles for dark theme
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
        Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.theme-dark {
    // Changes color code of dark color
    --vs-dark: 184, 194, 204;

    background-color: $content-dark-bg;
    color: $theme-dark-text-color !important;

    // Label
    label {
        color: $theme-dark-text-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $theme-dark-heading-color;
    }
}

// footer layouts
.footer-sticky {
    .footer {
        background-color: $dark-card-color;
        color: $white !important;
    }
}
